html , body{
	width: 100%;
	background-color : #272727 ;
	z-index: 0;
	color: #FFF;
}

/* Navigation */
.nav{
	width: 100%;
	background-color: #1e1d1d;
	display: flex;
	flex-direction: row-reverse;
}

#nav-btns{
	margin-right: 2em;
}

#nav-btns a{
	flex: right;
	color: #f2f2f2;
	font-size: 2em;
	text-decoration: none;
	padding: .5em .7em;
	float: right;
	transition: all .3s;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
}

#nav-btns a:hover{
	color: #000;
	background-color: #FFF
}

/* Section - Landing Page */

#LandingPage{
	height: 100%;
	width: 100%;p
}

p{
	text-align: center;
	color: #FFF;
	font-size: 9vw !important;
	margin-top: 25vh !important;
	font-weight: 100 !important;
	text-transform: uppercase;
	font-weight: 300 !important;
	font-family: 'Roboto', sans-serif;
	 letter-spacing: 25px;
}
